<div class="content">
  <h1>Create Product</h1>
  <div class="body">
    <form [formGroup]="addProductForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="name">Name: </label>
        <input id="name" type="text" formControlName="name">
      </div>
      <div>
        <label for="description">Description: </label>
        <input id="description" type="text" formControlName="description">
      </div>
      <div>
        <label for="productQuantity">Quantity: </label>
        <input id="productQuantity" type="number" formControlName="productQuantity">
      </div>
      <div>
        <label for="unitPrice">Unit Price: </label>
        <input id="unitPrice" type="number" formControlName="unitPrice">
      </div>
      <button type="submit" [disabled]="!addProductForm.valid">Submit</button>
    </form>
  </div>
</div>
