.form-group {
  width: 100%;
  margin-top: 14px;
}
.form-group label {
  width: 100%;
}

.form-group input {
  box-sizing: border-box;
  width: 100%;
  padding: 8px 15px;
}

.action {
  display: flex;
  justify-content: flex-end;
  margin-top: 8px;
}

