<div class="content" >
    <button routerLink="product">Back</button>
    <div>
        <app-alert [isShow] = "successMessage" [state] = AlertState.SUCCESS>{{successMessage}}</app-alert>
    </div>
    <div>
	    <app-alert [isShow] = "errorMessage" [state] = AlertState.ERROR> {{errorMessage}}</app-alert>
    </div>

	<h1> Edit Product</h1>

	<div class="body">
		<form (ngSubmit)="editProduct()" [formGroup]="editProductForm">
			<div class="form-group">
				<label for="name">Name: </label>
				<input formControlName="name" id="Name" type="text">
			</div>

			<div class="form-group">
				<label for="description">Description:</label>
				<input formControlName="description" id="description" type="text">
			</div>

			<div class="form-group">
				<label for="productQuantity">Product Quantity:</label>
				<input formControlName="productQuantity" id="productQuantity" type="number">
			</div>

			<div class="form-group">
				<label for="unitPrice">Unit Price:</label>
				<input formControlName="unitPrice" id="unitPrice" type="number">
			</div>

			<div class="form-group">
				<p><button type="submit">Update</button></p>
			</div>

		</form>
	</div>

</div>

