<div class="content">
    <div class="header">
        <h1> Products</h1>

        <div class="actions">
            <button (click)="addProduct()" class="btn"> Add Product</button>
        </div>
    </div>
</div>
<div class="body">
    <table>

        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Quantity</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>Bag</td>
            <td> Test description</td>
            <td>$ 10.00</td>
            <td>5</td>
        </tr>
        </tbody>
    </table>
</div>
