.content{
 padding-top: 5%;
  padding-left: 10%;
  padding-right: 10%;
}
.header{
  display: flex;
  justify-content: space-between;
}

.actions{
  display: flex;
  align-items: center;
}

table{
  display: table;
  width: 100%;
  border-collapse: collapse;
}

tr > th, tr > td{
  border: 1px solid gray;
}

.pagination{
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

