<div class="content">
  <div class="header">
    <h1>Products</h1>
    <div class="actions">
      <button (click)="addProduct()">Add Product</button>
    </div>
  </div>

  <div class="body">

    <table>
      <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Quantity</th>
        <th>Unit Price</th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let product of productsInPage.content">
        <th>{{ product.id }}</th>
        <th>{{ product.name }}</th>
        <th>{{ product.description }}</th>
        <th>{{ product.productQuantity }}</th>
        <th>{{ product.currency + ' ' + product.unitPrice }}</th>
      </tr>
      </tbody>

    </table>
  </div>
</div>
